<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Descrição</th>
      <th scope="col">Data</th>
      <th scope="col">Início</th>
      <th scope="col">Fim</th>
      <th scope="col">Local</th>
      <th scope="col">Situação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let compromisso of compromissos">
      <th>{{compromisso.id}}</th>
      <th><a [routerLink]="['/compromisso', compromisso.id]">{{compromisso.title}}</a></th>
      <td>{{compromisso.descricao}}</td>
      <td>{{compromisso.datacompromisso}}</td>
      <td>{{compromisso.inicio}}</td>
      <td>{{compromisso.fim}}</td>
      <td>{{compromisso.local}}</td>
      <td>{{compromisso.situacao}}</td>
    </tr>
  </tbody>
</table>
