<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Descrição</th>
      <th scope="col">Data</th>
      <th scope="col">Início</th>
      <th scope="col">Fim</th>
      <th scope="col">Local</th>
      <th scope="col">Situação</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
      <td>mdo</td>
      <td>mdo</td>
      <td>mdo</td>
      <td>mdo</td>
    </tr>
  </tbody>
</table>
