<div class="container">
  <div class="card" *ngFor="let compromisso of compromissos">
  <div class="card__title"><h5>{{compromisso.title}}</h5>   data: {{compromisso.datacompromisso}}</div>
  <div class="card__data">
      <div class="card__right">
      <div class="item">inicio: {{compromisso.inicio}}</div>
      <div class="item">fim: {{compromisso.fim}}</div>
      <div class="item">local: {{compromisso.local}}</div>
      <div class="item">situacao: {{compromisso.situacao}}</div>
      </div>

  </div>
  </div>
</div>
